<!DOCTYPE html>
<p lang="en">
<head>
    <meta charset="UTF-8">
    <title>spainblog</title>

</head>
<body>

  <div class="column side">
<ul>
  <li><a href="главная.html">Главная</a></li>
  <li><a href="общиесведения.html">Общие сведения</a></li>
  <li><a href="достопримечательности.html">Достопримечательности</a></li>
  <li><a href="#традициииспании">Традиции Испании</a></li>
  <li><a href="рецепты.html">Рецепты</a></li>
  <li><a href="#чтопочитать">Что почитать</a></li>
  <li><a href="#чтопосмотреть">Что посмотреть</a></li>
  <li><a href="#изучениеиспанского">Изучение испанского</a></li>
  <li><a href="нашиуслуги.html">Наши услуги</a></li>
  <li><a href="#контакты">Контакты</a></li>
</ul> </div>
<div class="column middle">
<!-- <p><img src="intro.png" alt="error" width="800" height="560">
</p>

<form>
  <input type="text" placeholder="Искать здесь...">
  <button type="submit"></button>
</form> -->
<p align="justify">
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    Самобытная, красочная и страстная, Испания знаменита своей невероятной
    архитектурой, изысканной кухней и удивительными культурными традициями. Здесь Вас
    ждут шумные компании, танцы, затяжные фиесты и солнечные пляжи. Испанские улицы со своими
    ремесленными лавочками и ресторанами навсегда оставят след в памяти, а представители
    местного населения очаруют Вас своим шармом и живым юмором, и, если повезет, раскроют
    секрет своего главного умения - наслаждаться жизнью по-полной.
</p>
<p align="justify">
    Испания — рай для путешественников. Это страна с древней историей,
    со множеством хорошо сохранившихся средневековых кварталов и площадей.
    Великолепной архитектурой Антонио Гауди и километрами роскошных
    пляжей Атлантического побережья и Средиземноморья. Богата Испания
    и природными достопримечательностями, Сьерра-де-Трамонтана и парк
    Гарахонай охраняются ЮНЕСКО. Всего на территории страны находится
    48 объектов (2019 год), включенных в список Всемирного наследия.
</p>
<div class="p one" align="justify"><em>"Как и едва ли не для каждой страны, для Испании существует свой стереотип: коррида,
    фламенко, вино, Кармен... И, разумеется, этими образами Испания не только не
    исчерпывается, но даже и не начинается. Она удивительно красива и многолика,
    эта страна между Пиренеями и морем."</em><p align="right"><em>- Генри В. Мортон</em>
</div>
<p>
    Испания – уникальная, особенная страна, не похожая ни на одну другую.
    Каждый, кто попал сюда хоть раз, навсегда влюблен в удивительную и
    самобытную атмосферу, её страсть и открытость, её богатую культуру
    и историю, гостеприимство и щедрость её жителей. Эту страну отличает
    еще и патриотизм, и преданность испанцев своему королю, своей
    Родине, своему государству.
</p>
<!-- <div class="video"><iframe width="700" height="400"
        src="https://www.youtube.com/embed/aOWWOM_BCeU"
                           allowfullscreen></iframe></div> -->
<p>
    На нашем сайте собрана наиболее полная, занимательная и полезная информация
    об Испании. Здесь Вы узнаете не только общеизвестные факты о богатой
    культуре и истории этой страны, но и увидете чуть больше настоящей Испании
    с ее невероятными традициями, великолепной кухней и неповторимым характером!
    Более того, наш сайт предоставляет услуги оналйн-занятий испанского языка,
    о которых Вы можете почитать <a href="нашиуслуги.html">здесь.</a>
</p>
<div class="column side">
</div>
</body>
</html>